@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --PrimaryColor: #ffefe3;
  --HoverColor: #bdbdbd;
  --paleGreen: hsl(96,75%,89%);
  --whiteColor: hsl(0,0%,100%);
  --blackColor: hsl(0, 100%, 3%);
  --textColor: hsl(240, 1%, 35%);
  --bgColor: #fff4db;
  --greyText: rgb(190,190,190);
  --Green: #C7D6A1;
  --RED:#E88073;
  --inputColor: var(--Green);
  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --smallestFontSize: .75rem;
}

.topSection {
  display: flex;
  flex-direction: column;
}
.topSection .cardSection {
  display: flex;
  flex-direction: row; /* Display children elements in a row */
  gap: 2rem; /* Add gap between the cards */
  justify-content: flex-start; /* Align cards to the left */
}
.topSection .leftCard {
  flex: 1; /* Let the card take up available space */
  /* Other styles */
}
.topSection .cardSection {
  margin-top: 1rem;
}
.topSection .cardSection h1, .topSection .cardSection p, .topSection .cardSection .btn {
  position: relative;
  z-index: 200;
}
.topSection .cardSection h1 {
  font-family: Inter, sans-serif;
  font-size: larger;
  color: var(--whiteColor);
  font-weight: 900;
}
.topSection .cardSection p {
  font-family: Inter, sans-serif;
  font-size: var(--h3FontSize);
  padding: 0.5rem;
  color: var(--greyText);
  font-weight: 500;
}
.topSection .cardSection .btn {
  box-shadow: none;
  padding: 0.2rem 0.8rem;
  font-size: var(--h2FontSize);
  color: #014b1b;
  background: #fff4db;
  font-weight: 500;
}
.topSection .cardSection .btn:hover {
  background-color: var(--Green);
}

.headerSection {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;
}

.title h1 {
  font-size: 3rem;
  color: var(--blackColor);
  font-weight: 900;
}

.title p {
  font-size: 1.25rem;
  position:relative;
  color: var(--textColor);
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 1rem; /* Add gap between input and icon */
  margin-right: 10rem; /* Remove left margin */
  padding: 1rem; /* Add padding to match other sections */
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--inputColor);
  background-color: var(--whiteColor);
  width: 35%; /* Set the width to 100% */
}

.searchBar input {
  border: none;
  outline: none;
  background: none;
  width: 100%; /* Ensure input takes up full width */
}


.icon {
  color: var(--blackColor);
  font-size: 20px;
}
.icon:hover {
  color: var(--RED);
}

.userDiv {
  gap: 0.5rem;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profilePhoto {
  width: 80%; /* Adjust as needed */
  height: 80%; /* Adjust as needed */
  border-radius: 50%;
  cursor: pointer; /* Add cursor pointer for clickable effect */
}

.username {
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-right: 0.5rem;
  text-align: center;
  color: var(--blackColor);
  cursor: pointer; /* Add cursor pointer for clickable effect */
}

.bio, .location {
  margin-top: 1px;
  text-align: center;
  color: var(--textColor);
}

.textDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textDiv .flex {
  display: flex;
  gap: 1rem;
}

.textDiv .flex span {
  display: flex;
  align-items: center;
}

.textDiv .flex span small {
  margin-left: 0.5rem;
  font-size: 0.9rem;
  color: var(--textColor);
}

.rightCard {
  width: 50%; /* Take up 40% of the space */
  margin: auto; /* Center the card horizontally */
}

.mediaContent video {
  width: 100%; /* Make the video fill the container */
  max-width: 100%; /* Ensure the video doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
}

.cardSection {
  display: flex;
  justify-content: flex-start; /* Align the card section to the left */
  align-items: flex-start; /* Align items to the top */
  padding: 1rem; /* Add padding to the card section */
}

.postDetails {
  height: 500px;
  width: 500px; /* Take up full width inside the right card */
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  overflow: hidden;/* Border around post details */
}

.actions {
  align-items: flex-end;
  align-content: center;
  gap: 1rem;
  margin-top: 100%; /* Add space between post details and actions */
}

.commentsSection {
  margin-top: 1rem; /* Add space between comment button and comments section */
  /* Other styles for comments section */
}/*# sourceMappingURL=top.css.map */