@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('travelling.jpg'); /* Background image */
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  align-items: center;
  padding-top: 20px; /* Add some top padding */
}

.post-form {
  width: 100%; 
  padding: 40px 20px;
  border-radius: 20px;
  margin-bottom: 20px; /* Add bottom margin */
}

.post-form h1 {
  font-size: 40px;
  margin-top: -150px;
  text-align: center;
  font-weight: 900;
  color: #333;
  padding-bottom: 2.5rem;
}

.input-wrapper {
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
}

textarea, input[type="file"] {
  font-family: Inter, sans-serif;
  width: calc(100% - 22px);
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

textarea:focus, input[type="file"]:focus {
  font-family: Inter, sans-serif;
  border-color: #fff;
}

button {
  padding: 12px;
  background-color: #e88073;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d04738;
}

.post-container {
  margin-bottom: 20px;
}

.post-container img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

select {
  width: calc(100% - 22px);
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23333"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}

select:focus {
  border-color: #e88074;
}

.image-preview {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-wrapper#location {
  width: 100%;
  margin-bottom: 20px;
}

.input-wrapper#location input[type="text"] {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
