body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('travelling.jpg'); /* Background image */
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.post-form {
  width: 75%;
  margin: auto;
  background-color: #f5deb3; /* Sand color */
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.post-form h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.input-wrapper {
  margin-bottom: 20px;
}

textarea, input[type="file"] {
  width: calc(100% - 22px);
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

textarea:focus, input[type="file"]:focus {
  border-color: #007bff;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
