/* App.css */
.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.left-section {
  width: 45%;
  padding: 20px;
  color: white;
}

.left-section > div {
  margin-bottom: 20px;
}

.right-section {
  width: 45%;
  padding: 20px;
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
